body {
    width: fit-content;
    height: fit-content;
    color: black;
    margin: 0 auto;
    background-color: #bdc5cc;
}

.levels {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.beginner {
    display: inline-block;
    cursor: pointer;
    margin: 10px 2px;
    background-color: #e81224;
    border-radius: 10%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    color: #ffffff;
}

.medium {
    display: inline-block;
    cursor: pointer;
    margin: 10px 2px;
    background-color: #e81224;
    border-radius: 10%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    color: #ffffff;
}

.expert {
    display: inline-block;
    cursor: pointer;
    margin: 10px 2px;
    background-color: #e81224;
    border-radius: 10%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    color: #ffffff;
}

.livesCounter {
    height: fit-content;
    width: fit-content;
    justify-content: center;
    text-align: center;
    margin: 20px auto;
    font-size: 20px;
}

.restart {
    background-color: rgb(95, 158, 160, 0);
    border: none;
    display: block;
    height: fit-content;
    width: fit-content;
    justify-content: center;
    text-align: center;
    margin: 20px auto;
    font-size: 20px;
    cursor: pointer;
}

.timer {
    height: fit-content;
    width: fit-content;
    font-size: 30px;
    margin: 20px auto;
    text-align: center;
    color: #e81224;
    /* transition: 0.5s; */
}

body table {
    margin: 0 auto;
    color: #e81224;
    font-size: 20px;
    text-align: center;
}

.cell {
    height: 35px;
    width: 35px;
    background-color: #ffffff;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.empty {
    background-color: rgb(154, 154, 154);
}